@import url('./global.css');
.principal {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10rem;
    gap: 200px;
    position: relative;
    overflow: hidden;
    height: 100vh;
    text-align: center;
}

.principal a {
    display: inline-flex;
    width: fit-content;
    height: fit-content;
    text-decoration: none;
    text-align: center;
}

.s-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 530px;
}

.cardCombos, .cardQuemSomos, .cardProdutos {
    width: 300px;
    height: 530px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.cardCombos{
    background-image: url('../../img/baldeCombo.jpg');
}

.cardQuemSomos{
    background-image: url('../../img/fachada-adega.jpg');
}

.cardProdutos{
    background-image: url('../../img/jack\ daniels\ No7.png');
    background-color: #000;
}

.cardCombos p, .cardQuemSomos p, .cardProdutos p {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-branco);
    margin-top: 30.5rem;
}

.cardCombos, .cardQuemSomos, .cardProdutos {
    width: 300px;
    height: 530px;
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: opacity 0.5s ease; /* Adicionando a transição */
}

.cardCombos {
    background-image: url('../../img/baldeCombo.jpg');
    position: relative;
}

.cardCombos p {
    transition: all 0.7s ease-in-out;
    position: relative;
}

.cardCombos:hover{
    background-image: none;
    box-shadow: none;
}

.cardCombos:hover p{
    transform: translateY(-35vh);
}

.cardQuemSomos {
    background-image: url('../../img/fachada-adega.jpg');
    position: relative;
}

.cardQuemSomos p {
    transition: all 0.7s ease;
    position: relative;
}

.cardQuemSomos:hover{
    background-image: none;
    box-shadow: none;
}

.cardQuemSomos:hover p{
    transform: translateY(-35vh);
}

.cardProdutos {
    background-image: url('../../img/jack\ daniels\ No7.png');
    position: relative;
    background-color: #000;
}

.cardProdutos p {
    transition: all 0.7s ease;
    position: relative;
}

.cardProdutos:hover{
    background-image: none;
    box-shadow: none;
    background-color: transparent;
}

.cardProdutos:hover p{
    transform: translateY(-35vh);
}
.cardCombos p, .cardQuemSomos p, .cardProdutos p {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--cor-branco);
    margin-top: 30.5rem;
}

.principalCombo{
    background-image: url('../../img/baldeCombo.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.principalProdutos{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.principalQuemSomos{
    background-image: url('../../img/fachada-adega.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

#background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}